@layout('layout/layout')

@section('body')
  <div>
    <h1 class="text-4xl max-w-xl font-primary font-extrabold absolute text-secondary  p-8 md:p-16  lg:text-6xl lg:max-w-2xl  lg:left-2/4 lg:top-2/4 lg:-translate-x-2/4 lg:-translate-y-2/4">Bienvenue au garage
        Vincent Parrot</h1>
    <img class="object-cover" src="{{asset('assets/images/lorenzo-hamers-9R0aYsnbE_4-unsplash.jpg')}}" alt="">
  </div>
  @include('partials/service')
  @include('partials/horraire')

@end